/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Custom scrollbar for track list */
.track-list::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.track-list::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track background */
  border-radius: 4px;
}

.track-list::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded edges */
  border: 2px solid #f0f0f0; /* Space between track and thumb */
}

.track-list::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb hover color */
}

/* Firefox scrollbar customization */
.track-list {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #888 #f0f0f0; /* Thumb and track colors */
}
